{%- if site.posthog_key != "" -%}
<script>
// PostHog on betacade.com only: nothing stored in the browser (memory persistence: no cookies, no
// localStorage), no session recording, no autocapture, no person profiles. Not loaded at all for
// Global Privacy Control or Do Not Track, or on any other host (previews).
(function () {
  var n = navigator;
  if (location.hostname !== "betacade.com") return;
  if (n.globalPrivacyControl === true || n.doNotTrack === "1" || window.doNotTrack === "1") return;
  !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once unregister identify reset get_distinct_id set_config opt_in_capturing opt_out_capturing has_opted_out_capturing".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
  posthog.init({{ site.posthog_key | jsonify }}, {
    api_host: {{ site.posthog_host | jsonify }},
    persistence: "memory",
    autocapture: false,
    capture_pageview: true,
    capture_pageleave: true,
    disable_session_recording: true,
    person_profiles: "identified_only"
  });
  document.addEventListener("click", function (e) {
    var a = e.target.closest && e.target.closest("[data-studio], a[href*='play.betacade.com/g/']");
    if (!a) return;
    posthog.capture("cta_clicked", { cta: a.hasAttribute("data-studio") ? "publish" : "play", page: location.pathname });
  });
  window.betacadeTrack = function (name) { try { posthog.capture(name, { page: location.pathname }); } catch (e) {} };
})();
</script>
{%- endif -%}
